PORT=4000
NODE_ENV=development

# JWT
JWT_SECRET=dev_secret_change_in_production_min_32_chars
JWT_EXPIRES_IN=2h

# Credenciais admin (para /api/auth/login)
ADMIN_USER=admin
ADMIN_PASS=admin2025

# Upstreams internos
WEATHER_API_URL=http://localhost:8080
NPS_API_URL=http://localhost:3001
